body {
    background-color: lightpink;
  }
  h1 {
    color: blue;
  }
  p {
    color: green;
    
  }
  sup {
    color: green;
  }
  div {
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: #EEEEEE;
  }
  .one {background-color: burlywood;}
  .two {background-color: darkgoldenrod}
  .three {background-color: peru;}
  nav {
    border: 2px solid #eeeeee;
  }
  
  nav a {
    text-decoration: none;
    color: #000;
    border: 2px solid rgb(96 139 168);
    border-radius: 5px;
    background-color: rgb(96 139 168 / 0.2);
    padding: 10px;
    display: block;
  }
  
 